body {
  background-color: #1f2937;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.header-links {
  margin-right: 70px;
  display: flex;
  gap: 20px;
}
.logo {
  margin-left: 70px;
  color: #f9faf8;
  font-size: 24px;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px;
}

.hero-main {
  max-width: 550px;
}

.hero-header {
  font-size: 48px;
  font-weight: 500;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  /* transform: skew(-20deg);
  border-radius: 50%; */
}

.sign-up {
  padding: 8px 40px;
  background-color: #3882f6;
  border-radius: 10px;
}

.cravings {
  background-color: #f9faf8;
  text-align: center;
  padding: 70px;
}

.cravings-header {
  font-size: 36px;
  color: black;
  font-weight: 500;
  margin-bottom: 70px;
}
.cards {
  background-color: #f9faf8;
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}
